*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%; /* This defines what 1rem is (10px) */
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.separator {
  width: 12rem;
  height: 0.4rem;
  background-color: $color-primary;
  margin: 1rem 0;
}
